.stags {
    border-radius: 0.15em 0.15em 0.15em 0.15em;
    color: #FFFFFF;
    display: inline;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #CCC;
}
.stags.blue            { background-color: #428BCA; }
.stags.green           { background-color: #55AA55; }
.stags.green2          { background-color: #F0AD4E; }
.stags.lightblue       { background-color: #5BC0DE; }
.stags.red             { background-color: #D9534F; }
.stags.orange          { background-color: #ffaa55; }
.stags.lightgray       { background-color: #aaa; }
